<!-- Insurer Sidebar Navigation -->
<li class="nav-item active">
    <a class="nav-link" asp-controller="Home" asp-action="Index">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Home</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePolicy" aria-expanded="true" aria-controls="collapsePolicy">
        <i class="fas fa-fw fa-edit"></i>
        <span>Policy</span>
    </a>
    <div id="collapsePolicy" class="collapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" asp-controller="Policy" asp-action="ConfirmPolicyCover">Confirm policy cover</a>
            <a class="collapse-item" asp-controller="Policy" asp-action="InsurerPolicyTransactions">Policy transactions</a>
        </div>
    </div>
</li>

<hr class="sidebar-divider" />

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
        <i class="fas fa-fw fa-cog"></i>
        <span>Admin</span>
    </a>
    <div id="collapseAdmin" class="collapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" asp-controller="Admin" asp-action="AddUser">Add user</a>
            <a class="collapse-item" asp-controller="Admin" asp-action="EditPartnerUsers">Edit user</a>
            <a class="collapse-item" asp-controller="Admin" asp-action="BulkImport">Import policies</a>
        </div>
    </div>
</li>

<hr class="sidebar-divider" />

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBilling" aria-expanded="true" aria-controls="collapseBilling">
        <i class="fas fa-fw fa-clipboard"></i>
        <span>Billing</span>
    </a>
    <div id="collapseBilling" class="collapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" asp-controller="Billing" asp-action="ViewPartnerInvoice">Invoices</a>
        </div>
    </div>
</li>

<hr class="sidebar-divider" />

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReports" aria-expanded="true" aria-controls="collapseReports">
        <i class="fas fa-fw fa-folder"></i>
        <span>Reports</span>
    </a>
    <div id="collapseReports" class="collapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" asp-controller="Reporting" asp-action="UninsuredAssets">Uninsured assets</a>
            <a class="collapse-item" asp-controller="Reporting" asp-action="MonthlyReport">Monthly reports</a>
        </div>
    </div>
</li>

<hr class="sidebar-divider d-none d-md-block" />
