<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="connIAPRAPI" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=IAPR;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Application Name=&quot;SQL Server Management Studio&quot;;Command Timeout=0" providerName="System.Data.SqlClient"/>
    <add name="connIAPRData" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=IAPR;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Application Name=&quot;SQL Server Management Studio&quot;;Command Timeout=0" providerName="System.Data.SqlClient"/>
    <add name="TiccetsAPI.Properties.Settings.connTiccetWeb" connectionString="--SECRET_MOVED_TO_KEYVAULT--"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!--<add key="SMTPServer" value="vitalstatistix.aserv.co.za" />
    <add key="SMTPport" value="465 " />
    <add key="SMTPServerAccount" value="support@ticcets.com" />
    <add key="SMTPServerPassword" value="Mpho2016Thekisho" />-->
    <add key="SMTPServer" value="smtp.ticcets.com"/>
    <add key="SMTPport" value="587"/>
    <add key="SMTPServerAccount" value="support@ticcets.com"/>
    <add key="SMTPServerPassword" value="--SECRET_MOVED_TO_KEYVAULT--"/>
    <add key="RegularExpression_eMail" value="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"/>
    <add key="RegularExpression_Password" value="^.*(?=.{8,20})(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*$"/>
    <add key="RegularExpression_Name" value="[a-zA-Z ]*$"/>
    <add key="GenCryptokey" value="--SECRET_MOVED_TO_KEYVAULT--"/>
    <add key="ValCryptoKey" value="--SECRET_MOVED_TO_KEYVAULT--"/>
    <add key="AesCryptoKey" value="--SECRET_MOVED_TO_KEYVAULT--"/>
    <add key="Application_URL" value="https://www.lendority.co.za"/>
    <add key="ApplicationDomain" value="lendority.co.za"/>
    <add key="Support_Email_Address" value="support@lendority.co.za"/>
    <!--Prod-->
    <add key="PaymentGatewayuserId" value="--SECRET_MOVED_TO_KEYVAULT--"/>
    <add key="PaymentGatewayPassword" value="--SECRET_MOVED_TO_KEYVAULT--"/>
    <add key="PaymentGatewayentityIdCards" value="--SECRET_MOVED_TO_KEYVAULT--"/>
    <add key="PaymentGatewayentityIdPayPal" value="--SECRET_MOVED_TO_KEYVAULT--"/>
    <add key="PaymentGatewayURL" value="https://oppwa.com/v1/payments"/>
    <add key="ShopperResultUrl" value="https://www.ticcets.com/account/"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules>
      <!--<add name="BasicAuthHttpModule" type="WebHostBasicAuth.Modules.BasicAuthHttpModule, IAPRAPI"/>-->
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>