<!-- Account Receivable Asset Type Partial -->
<h6 class="font-weight-bold text-primary mt-3">Account Receivable Details</h6>
<div class="form-row">
    <div class="form-group col-md-4"><label>Debtor Name</label><input type="text" name="DebtorName" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Account Number</label><input type="text" name="AccountNumber" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Outstanding Amount</label><input type="text" name="OutstandingAmount" class="form-control" data-type="currency" /></div>
</div>
