<!-- Aviation Asset Type Partial -->
<h6 class="font-weight-bold text-primary mt-3">Aviation Details</h6>
<div class="form-row">
    <div class="form-group col-md-4"><label>Aircraft Type</label><input type="text" name="AircraftType" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Registration</label><input type="text" name="AircraftRegistration" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Serial Number</label><input type="text" name="SerialNumber" class="form-control" /></div>
</div>
<div class="form-row">
    <div class="form-group col-md-4"><label>Year of Manufacture</label><input type="number" name="YearOfManufacture" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Hull Value</label><input type="text" name="HullValue" class="form-control" data-type="currency" /></div>
    <div class="form-group col-md-4"><label>Liability Limit</label><input type="text" name="LiabilityLimit" class="form-control" data-type="currency" /></div>
</div>
