<!-- Business Interruption Asset Type Partial -->
<h6 class="font-weight-bold text-primary mt-3">Business Interruption Details</h6>
<div class="form-row">
    <div class="form-group col-md-4"><label>Annual Revenue</label><input type="text" name="AnnualRevenue" class="form-control" data-type="currency" /></div>
    <div class="form-group col-md-4"><label>Indemnity Period (months)</label><input type="number" name="IndemnityPeriod" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Sum Insured</label><input type="text" name="SumInsured" class="form-control" data-type="currency" /></div>
</div>
