<!-- Keyman Insurance Asset Type Partial -->
<h6 class="font-weight-bold text-primary mt-3">Keyman Insurance Details</h6>
<div class="form-row">
    <div class="form-group col-md-4"><label>Keyman Name</label><input type="text" name="KeymanName" class="form-control" /></div>
    <div class="form-group col-md-4"><label>ID Number</label><input type="text" name="IdNumber" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Sum Assured</label><input type="text" name="SumAssured" class="form-control" data-type="currency" /></div>
</div>
