<!-- Plant Equipment Asset Type Partial -->
<h6 class="font-weight-bold text-primary mt-3">Plant & Equipment Details</h6>
<div class="form-row">
    <div class="form-group col-md-4"><label>Equipment Description</label><input type="text" name="EquipmentDescription" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Serial Number</label><input type="text" name="SerialNumber" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Replacement Value</label><input type="text" name="ReplacementValue" class="form-control" data-type="currency" /></div>
</div>
