<!-- Property Asset Type Partial -->
<h6 class="font-weight-bold text-primary mt-3">Property Details</h6>
<div class="form-row">
    <div class="form-group col-md-6"><label>Property Address</label><input type="text" name="PropertyAddress" class="form-control" /></div>
    <div class="form-group col-md-3"><label>Property Type</label><select name="PropertyType" class="form-control"><option value="">-- Select --</option><option>Commercial</option><option>Residential</option><option>Industrial</option></select></div>
    <div class="form-group col-md-3"><label>Building Value</label><input type="text" name="BuildingValue" class="form-control" data-type="currency" /></div>
</div>
<div class="form-row">
    <div class="form-group col-md-4"><label>Contents Value</label><input type="text" name="ContentsValue" class="form-control" data-type="currency" /></div>
    <div class="form-group col-md-4"><label>Floor Area (sqm)</label><input type="number" name="FloorArea" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Year Built</label><input type="number" name="YearBuilt" class="form-control" /></div>
</div>
