<!-- Vehicle Asset Type Partial - loaded via jQuery AJAX -->
<h6 class="font-weight-bold text-primary mt-3">Vehicle Details</h6>
<div class="form-row">
    <div class="form-group col-md-4">
        <label>Registration Number</label>
        <input type="text" name="RegistrationNumber" class="form-control" />
    </div>
    <div class="form-group col-md-4">
        <label>Make</label>
        <input type="text" name="Make" class="form-control" />
    </div>
    <div class="form-group col-md-4">
        <label>Model</label>
        <input type="text" name="Model" class="form-control" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3">
        <label>Year</label>
        <input type="number" name="Year" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        <label>Colour</label>
        <input type="text" name="Colour" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        <label>VIN Number</label>
        <input type="text" name="VinNumber" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        <label>Engine Number</label>
        <input type="text" name="EngineNumber" class="form-control" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label>Vehicle Type</label>
        <select name="VehicleType" class="form-control">
            <option value="">-- Select --</option>
            <option value="Sedan">Sedan</option>
            <option value="SUV">SUV</option>
            <option value="Truck">Truck</option>
            <option value="Motorcycle">Motorcycle</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label>Retail Value</label>
        <input type="text" name="RetailValue" class="form-control" data-type="currency" />
    </div>
    <div class="form-group col-md-4">
        <label>Current Mileage</label>
        <input type="number" name="CurrentMileage" class="form-control" />
    </div>
</div>
