<!-- Watercraft Asset Type Partial -->
<h6 class="font-weight-bold text-primary mt-3">Watercraft Details</h6>
<div class="form-row">
    <div class="form-group col-md-4"><label>Vessel Name</label><input type="text" name="VesselName" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Registration Number</label><input type="text" name="RegistrationNumber" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Hull Value</label><input type="text" name="HullValue" class="form-control" data-type="currency" /></div>
</div>
<div class="form-row">
    <div class="form-group col-md-4"><label>Length (m)</label><input type="number" name="Length" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Engine Type</label><input type="text" name="EngineType" class="form-control" /></div>
    <div class="form-group col-md-4"><label>Year of Manufacture</label><input type="number" name="YearOfManufacture" class="form-control" /></div>
</div>
